*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'open sans';
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.titulo{
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header */

header{
    width: 100%;
    height: 600px;
    background: #56ab2f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(87, 67%, 63%, 0.637), hsla(101, 57%, 43%, 0.541)), url(../img/portpeel3.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(87, 70%, 41%, 0.692), hsla(101, 72%, 35%, 0.149)), url(../img/portpeel3.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 39px 50px 0 0;

}

nav > a{
    color: #ffffff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color: #ffffff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: #ffffff;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}

.trt {
    max-width: 500px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5%;
}

.trt img {
    max-width: 100%;
}

.titulo-trt {
    margin-top: 20px;
    margin-bottom: 20px;
}

.li-trt {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc ;
}

.contenedor-foo{
    text-align: center;

}

.contenedor-foo h4{
    color: #ffffff;
    border-bottom: 3px solid #56ab2f;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.contenedor-foo p{
    color: #ffffff;
}

.contenedor-foo img{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 25px;
    height: 25px;

}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

@media (max-width: 768px) {
    .grid-container {
        display: block;
    }

    nav {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media screen and (max-width: 500px){
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav > a{
        margin-right: 5px;
    }

    .textos-header h1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size: 20px;
    }

    .sobre-nosotros .contenidos-textos{
        width: 95%;
    }

    .img-port{
        width: 95%;
    }

    .cards .card{
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card img{
        width: 90px;
        height: 90px;
    }

    .servicio-cont{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;    
    }

    .servicio-ind{
        width: 100%;
        margin: 10px 0;
    }

    .servicio-ind img{
        width: 90%;
        max-width: 100%;
    }

    .servicio-ind h3{
        margin: 10px 0;
    }

    .servicio-ind p{
        font-weight: 300;
        text-align: justify;
    }

    iframe{
        width: 90%;
        height: 100%;
    }
    .contenedor-footer{
        flex-direction: column;

    }

    .contenedor-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .contenedor-foo h4{
        border: none;
    }

    .contenedor-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding: 20px;
    }
}